@import 'normalize.styl'
@import 'fonts.styl'
@import 'nib'

/* Colors */
azul-a = #5EB9C9
azul-b = #20A6BE
azul-c = #17798B
azul-d = #0B373E
azul-e = #1D393E
fondo = #BDC2CF
oscuro = #2E363F

/* Prefixes */
vendor-prefixes = webkit moz o ms official

html
	font-size 120%
	font-family: 'Arvo', serif;
	background-color fondo

a
	text-decoration none
	
h1
h2
h3
h4
	margin 0
	padding 0

.header
	background oscuro
	padding 1em
	
.wrap-center
	margin 0 auto
	max-width 1080px
		
.header__content
	display flex
	justify-content center
	align-items center
	color white
	
	.header__edit
		margin-right 0.5em
		.header__icons
			color white
			font-size 1.5rem
			
			&:hover
				color azul-b
				
			
.search-city
	display none
	.search-city__form
		display flex
		
		input[type=text]
			width 100%
			padding 0.5em			
			
		input[type=submit]
			flex-basis 200px
			background-color azul-b
			color white
			border 0px
			transition 0.3s
			
			&:hover
				background-color azul-c
				
.loader
	text-align center
	padding 1em
	font-size 1rem
				
			
.card
	padding 1em
	margin 1em
	
	.card__header
		text-align center
		
		.card__temperature
			font-size 4rem
			color azul-b
			
		.card__temperature-min
			display block
			
		.card__temperature-max
		.card__temperature-min
			color azul-c
				
		.card__temperature-max:after
		.card__temperature-min:after
		.card__temperature:after
			content '˚C '
			
		.card__temperature-max:before
			content 'Max: '
			
		.card__temperature-min:before
			content 'Min: '
				
		.card__image
			width 8em
			
	.card__info
		font-family: 'Merriweather Sans', sans-serif;
		text-align center
		
		
		.time
			display block
			font-size 2rem
			color azul-e
			

@media all and (min-width 768px)
	.header__content
		justify-content flex-start
		
	.card
		padding 1em
		margin 1em
		
		.card__header
			
			.card_country
				text-align center
				font-size 3rem
				
			.card__zone
				display block
				font-size 2rem
				text-align center
				
			
			.card__temperature
				display inline-block
				font-size 5rem
				
			.card__temperatures
				display inline-block
				margin-left 0.5em
					
			.card__image
				width 13em
				display block
				margin 0 auto
				
		.card__info
			font-family: 'Merriweather Sans', sans-serif;
			text-align center
			
			
			.time
				display block
				font-size 2rem
				color azul-e
		
@media all and (min-width 1080px)
	.header__content
		.header__edit
			display none
			
	.search-city
		display block
		margin-top 0.5em
		
			
			
			